<div class="row">
  <div class="col-auto">
    <h2>Welcome!</h2>
  </div>
</div>

 {{#each blogPosts as |blogPost| }}
  {{!-- <div class="card mb-4 project">
    <div class="col-md-5">
      <h2>
        {{blogPost.title}}
      </h2>
      <p>
        {{blogPost.description}}
      </p>
    </div>
  </div> --}}
  <div class="card">
    <div class="card-header">
      {{blogPost.title}}
    </div>
    <div class="card-body" id="{{blogPost.id}}">
      <p class="card-text">{{blogPost.description}}</p>
      <button type="submit" class="btn btn-primary m-1 bg-danger" id="delete">Delete</button>
      <button type="submit" class="btn btn-primary m-1" id="edit">Edit</button>
    </div>
  </div>
</div>
  {{/each}}

<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>

